$blue: #3097D1;
$white: #fff;
$bodyBackground: #f5f8fa;
$grey: #ccc;

html, body {
  margin: 0;
  padding: 0;
  background-color: $bodyBackground;
  font: 1em "Open Sans", sans-serif;
}

a {
  color: $blue;
  text-decoration: none;
}

.container {
}

.header {
  padding: 1rem 0;
  background-color: $blue;
  h1 {
    margin: 0;
    padding: 0 0 0 1rem;
    color: $white;
  }
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    width: 12rem;
    height: 14rem;
    margin: 1rem;
    padding: 1rem;
    h2 {
      font-size: medium;
      text-align: center;
    }
    img {
      border: 1px solid $grey;
      width: 8rem;
      height: 10rem;
    }
  }
}

.details {
  margin: 1rem;
}

table {
  width: 100%;
  background-color: $white;
  th {
    background-color: $blue;
    color: $white;
    padding: 1rem;
  }
  td {
    padding: 1rem;
  }
}
